<template>
  <div class="container-fluid m-0 p-0">
    <div id="home-page" class="bg-img">
      <div class="container box d-flex flex-column justify-items-center">
        <h1 class="pt-5 mt-5">
          My name is <span>Macen Vargas</span>. I'm a Front End Developer
        </h1>

        <div class="d-flex justify-content-around buttons">
          <a href="#project-page"
            ><button type="button" class="btn btn-lg btn-size mt-5">
              View my work
            </button></a
          >
        </div>

        <i class=" fa fa-angle-double-down fa-5x mt-auto mb-2"></i>
      </div>
    </div>

    <div id="project-page">
      <div class="contaniner-fluid">
        <h2 class="project-text pt-5">Projects</h2>

        <div class="project-row pt-5 ">
          <div class="card">
            <img src="../assets/landingpic.png" class="card-img-top" alt="" />
            <div class="card-body">
              <h5 class="card-title">Landing Page</h5>
              <p class="card-text">
                I made this landing Page for the FreeCodeCamp cirriculum. It
                taught me how to use flexbox and how to integrate fontawesonme
                icons that can make any site look awesome!
              </p>
              <a href="#" class="btn btn-primary">View Code</a>
            </div>
          </div>

          <div class="card">
            <img src="../assets/techpic.png" class="card-img-top" alt="" />
            <div class="card-body">
              <h5 class="card-title">Technical Page</h5>
              <p class="card-text">
                I made this landing Page for the FreeCodeCamp cirriculum. It
                taught me how to use flexbox and how to integrate fontawesonme
                icons that can make any site look awesome!
              </p>
              <a href="#" class="btn btn-primary">View Code</a>
            </div>
          </div>

          <div class="card">
            <img
              src="../assets/pjpic.png"
              class="card-img-top pj img-fluid"
              alt=""
            />
            <div class="card-body">
              <h5 class="card-title">PlantJournal App</h5>
              <p class="card-text">
                I made this landing Page for the FreeCodeCamp cirriculum. It
                taught me how to use flexbox and how to integrate fontawesonme
                icons that can make any site look awesome!
              </p>
              <a href="#" class="btn btn-primary">View Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="contact-page">
      <h2 class="project-text2 pt-5">Contact</h2>
      <h4 class="mt-4">Currently on the job hunt, feel free to contact me!</h4>
      <div class="container box2 d-flex flex-column justify-items-center">

        <form action="" >
        <input type="text" id="name" placeholder="Name" class="input-field namefield">
        <input type="email" id="email" placeholder="Email Address"  class="input-field emailfield">
        <textarea id="message" placeholder="Your message" class="messagefield"></textarea>
        <input type="submit" value="Submit" class="submitbutton">
        </form>

      </div>
    </div>

    <div id="footer" class="p-4">
      <footer class="text-light p-4">
        <a href="#" target="_blank"><i class="fa fa-github fa-3x icon github"></i></a>
        <a href="#" target="_blank"><i class="fa fa-gitlab fa-3x icon gitlab"></i></a>
        <a href="#" target="_blank"><i class="fa fa-linkedin fa-3x icon linkedin"></i></a>
        <a href="#" target="_blank"><i class="fa fa-twitter fa-3x icon twitter"></i></a>
        <br>
        <small>MACEN VARGAS <i fa class=" fa fa-copyright"></i> 2020</small>
      </footer>
    </div>

  </div>
</template>

<script>
export default {
  data() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#home-page {
  background-color: rgb(138, 50, 47);
  background: url("../assets/background.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  min-width: 100vw;
  background-size: cover;
}
#project-page {
  background-color: rgb(233, 233, 233);
  min-height: 85vh;
}
#contact-page {
  background-color: rgb(35, 72, 83);
  min-height: 100vh;
}
#footer {
  background-color: rgb(16, 36, 42);
}
h1 {
  font-size: 5vh;
}
h4 {
  color: rgb(103, 188, 214);
}
span {
  color: rgb(103, 188, 214);
}
.divider {
  width: 100%;
  background-color: black;
  height: 5px;
}
.bg-img {
  min-height: 100%;
  
}
.box {
  /* background-color: rgb(94, 136, 32); */
  padding-top: 12rem;
  min-height: 100vh;
}
.box2 {
  padding-top: 12rem;
  min-height: 80vh;
  width: 40vw;
}
.btn {
  color: aliceblue;
  background-color: black;
}
.btn:hover {
  color: rgb(103, 188, 214);
  background-color: white;
}
.btn-size {
  padding: 20px 40px 20px 40px;
}
.project-text {
  font-size: 6vh;
  color: black;
}
.project-text2 {
  font-size: 6vh;
  color: rgb(255, 255, 255);
}
.card {
  height: 34rem;
  width: 25rem;
  color: black;
}
.project-row {
  display: flex;
  justify-content: center;
}
.card-title {
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
}
.pj {
  height: 55%;
}
form {
  display: flex;
  flex-direction: column;
  
}
input {
    font-size: 1.5rem;
    font-family: Noto Sans JP, serif;
    background-color: rgb(26, 41, 51);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    height: 3rem;
}

textarea {
  background-color: rgb(26, 41, 51);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
  height: 10rem;
  font-size: 1.5rem;
}
.submitbutton:hover {
  color: black;
  background-color: white;
}
.icon {
  margin-left: 2rem;
  margin-bottom: 2rem;
  color: white;
}
.github:hover {
  color: #333;
}
.gitlab:hover {
  color: #fc6d26;
}
.linkedin:hover {
  color: #0077b5;
}
.twitter:hover {
  color: #1da1f2;
}
@media only screen and (max-width: 900px) {
  .project-row {
    display: flex;
    flex-direction: column;
  }
  .card {
    height: 75vh;
    width: 100vw;
    color: black;
  }
}
@media only screen and (max-width: 600px) {
  .icon {
  margin-left: 1rem;
}
.box2 {
  padding-top: 8rem;
  width: 80vw;
}
input {
    font-size: 1.3rem;
    margin-bottom: 20px;
    height: 3rem;
}

textarea {
  margin-bottom: 20px;
  height: 10rem;
  font-size: 1.3rem;
}
h4 {
  font-size: 1.4rem;
}
}
</style>
